<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.noveogroup.tulupov.addressbook.entity.GroupEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.AddressEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.ContactEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.FieldEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.DateFieldEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.TextFieldEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.EmailFieldEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.NumberFieldEntity" />
		<mapping class="com.noveogroup.tulupov.addressbook.entity.field.LinkFieldEntity" />
	</session-factory>
</hibernate-configuration>